#language-select
{
   text-align: right;
}

a
{
   text-decoration: none;
   color: grey;
}

#content
{
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
}

article
{
   margin-left: 15%;
   margin-right: 15%;
}

#date
{
   text-align: left;
}

figure
{
   margin: auto;
   width: 50%;
}

@media (max-width: 767px)
{
   figure
   {
      width: 100%
   }
}

figure img
{
   max-width: 100%;
}