#language-select
{
   text-align: right;
}

a
{
   text-decoration: none;
   color: grey;
}

#content
{
   text-align: center;
   margin-left: 30%;
   margin-right: 30%;
}

article
{
   margin-left: 15%;
   margin-right: 15%;
   border-style: solid;
}

#date
{
   text-align: left;
}

figure
{
   margin: auto;
   width: 50%;
}

@media (max-width: 767px)
{
   #content
   {
      margin-left: 10%;
      margin-right: 10%;
   }
   
   figure
   {
      width: 100%
   }
}

figure img
{
   max-width: 100%;
}